[default]
aws_access_key_id = {{onepasswordRead "op://Personal/AWS Access Key/access key id" }}
aws_secret_access_key = {{onepasswordRead "op://Personal/AWS Access Key/secret access key" }}
[ksw-admin]
aws_access_key_id = {{onepasswordRead "op://Personal/KSW AWS Access Key/access key id" }}
aws_secret_access_key = {{onepasswordRead "op://Personal/KSW AWS Access Key/secret access key" }}
