[init]
    defaultBranch = main
[column]
    ui = auto
[branch]
    sort = -committerdate
[tag]
    sort = version:refname
[user]
    signingkey = 25BCE3C253935ABE
    email = raysuliteanu@gmail.com
    name = Ray Suliteanu
[commit]
    verbose = true
    gpgsign = true
[core]
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true    # use n and N to move between diff sections
    line-numbers = true
    hyperlinks = true
    side-by-side = true
    syntax-theme = GitHub
    grep-output-type = ripgrep
[merge]
    conflictstyle = diff3
  tool = meld
[diff]
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true
[alias]
    co = checkout
    sw = switch
    st = status
[rerere]
    enabled = true
    autoupdate = true
[pull]
    rebase = false
[push]
    autoSetupRemote = true
    default = simple
    followtags = true
[fetch]
    prune = true
    pruneTags = true
    all = true
[help]
    autocorrect = prompt
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[rebase]
    updateRefs = true
    autoSquash = true
    autoStash = true

