Host *
    ForwardAgent yes
Host kidoni
    HostName kidoni
    User ray
Host rays-mac-mini
    HostName rays-mac-mini
    User raysuliteanu
Host rxs-pi.local
    User ray
    HostName rxs-pi.local
    PreferredAuthentications publickey
    ForwardX11 yes
Host codeberg.org
    User raysuliteanu
    HostName codeberg.org
    PreferredAuthentications publickey
    ForwardAgent no
