Host *
    IdentityAgent {{ if eq .chezmoi.os "darwin" }}"~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"{{ else }}~/.1password/agent.sock{{ end }}
Host rays-mac-mini
    HostName rays-mac-mini
    ForwardAgent yes
Host rxs-pi.local
    User ray
    HostName rxs-pi.local
    PreferredAuthentications publickey
    IdentitiesOnly yes
    ForwardX11 yes
    ForwardAgent yes
Host codeberg.org
    User raysuliteanu
    HostName codeberg.org
    PreferredAuthentications publickey
    IdentitiesOnly yes
